body {
  background-color: #0000;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 -50%;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.btn__fill-0005 {
  color: #2a3239;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #0000;
  border-radius: 40px;
  flex: none;
  justify-content: center;
  align-self: center;
  align-items: center;
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  transition: all .2s;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.btn__fill-0005:hover {
  color: #fff;
  background-color: #2bc78a;
  text-decoration: none;
}

.fill-0005__label {
  padding: 18px 53px;
}

@media screen and (max-width: 240px) {
  .btn__fill-0005 {
    transform: scale(.7);
  }
}