body {
  background-color: #0000;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 -50%;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.tadafy__sha-0315 {
  color: #fff;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  flex: none;
  justify-content: center;
  align-self: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.sha-0315__segm {
  transform-origin: 100% 100%;
  transform-style: preserve-3d;
  background-color: #00ff1e;
  justify-content: center;
  align-items: center;
  margin-bottom: .1px;
  margin-left: -1px;
  position: absolute;
  inset: 0% 5% 0% 0%;
  transform: scale3d(1, .8, 1)skew(10deg);
}

.sha-0315__segm.lev-02 {
  opacity: .8;
  margin-bottom: 0;
}

.sha-0315__label {
  transform-origin: 0 100%;
  background-color: #131619;
  padding: 28px 32px;
  position: relative;
}

@media screen and (max-width: 240px) {
  .tadafy__sha-0315 {
    transform: scale(.7);
  }
}
