body {
  background-color: #0000;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 -50%;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.tadafy__fill-0665 {
  color: #fafafa;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  flex-direction: row;
  flex: none;
  justify-content: flex-end;
  align-self: center;
  align-items: center;
  font-family: Exo, sans-serif;
  font-size: 28px;
  font-weight: 900;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  position: relative;
  transform: translate(0);
}

.fill-0665__wrap {
  position: absolute;
  inset: 0%;
  overflow: hidden;
}

.fill-0665__grad {
  background-image: repeating-linear-gradient(225deg, #ffffff03, #ffffff03 5%, #2760ff 5% 10%);
  flex: 1;
  width: 200%;
  height: 50%;
  margin-bottom: .5px;
  position: absolute;
  top: 0%;
  right: 0%;
  transform: translate(0);
}

.fill-0665__grad.grad--b {
  opacity: .66;
  transform-style: preserve-3d;
  top: auto;
  bottom: 0;
  transform: rotateX(180deg)rotateY(0)rotateZ(0);
}

.fill-0665__label {
  text-shadow: none;
  padding: 5px 56px;
  position: relative;
}
