body {
  background-color: #0000;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 -50%;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.tadafy__und-0240 {
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  flex-direction: row;
  flex: none;
  justify-content: flex-end;
  align-self: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-size: 26px;
  font-weight: 200;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  position: relative;
  transform: translate(0);
}

.und-0240__line {
  transform-origin: 50%;
  border-bottom: 1px solid #fff;
  position: absolute;
  inset: 0%;
  transform: skew(0deg, -10deg);
}

.und-0240__label {
  padding: 18px 15px;
  position: relative;
}
