body {
  background-color: #0000;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 -50%;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.btn__fill-0010 {
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #2bc78a;
  border-radius: 40px;
  flex: none;
  justify-content: center;
  align-self: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  transition: all .2s;
  display: inline-block;
}

.btn__fill-0010:hover {
  color: #fff;
  background-color: #0da86b;
  text-decoration: none;
}

.fill-0010__label {
  padding: 18px 45px;
}

@media screen and (max-width: 240px) {
  .btn__fill-0010 {
    transform: scale(.7);
  }
}