body {
  background-color: #0000;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 -50%;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.btn__txt-0055 {
  color: #2a3239;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  flex: none;
  justify-content: center;
  align-self: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.txt-0055__wrap {
  justify-content: center;
  align-items: center;
  display: flex;
}

.txt-0055__label--2nd {
  color: #2bc78a;
}

@media screen and (max-width: 240px) {
  .btn__txt-0055 {
    transform: scale(.7);
  }
}