body {
  background-color: #0000;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 -50%;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.btn__txt-0005 {
  color: #2a3239;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 1px solid #549eff;
  border-radius: 50px;
  flex: none;
  align-self: center;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: none;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.txt-0005__label-w {
  transform-origin: 0%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.txt-0005__label {
  padding: 24px 40px;
  position: relative;
}

.txt-0005__label-w-2nd {
  transform-origin: 0%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  inset: 0%;
}
