body {
  background-color: #0000;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 -50%;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.tadafy__und-0400 {
  color: #00f;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  flex-direction: row;
  flex: none;
  justify-content: flex-end;
  align-self: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 900;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.und-0400__wrap {
  flex: none;
  height: 10px;
  position: absolute;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.und-0400__line--1 {
  background-color: #d7d7ff;
  width: 70%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
}

.und-0400__line--2 {
  background-color: #00f;
  width: 70%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: 0%;
}

.und-0400__label {
  padding-bottom: 30px;
  padding-left: 25px;
  padding-right: 25px;
  position: relative;
}

@media screen and (max-width: 240px) {
  .tadafy__und-0400 {
    transform: scale(.7);
  }
}