body {
  background-color: #0000;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 -50%;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.tadafy__fill-0570 {
  color: #000;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-image: none;
  border: 2px solid #14141405;
  border-radius: 50px;
  flex-direction: row;
  flex: none;
  justify-content: flex-end;
  align-self: center;
  align-items: center;
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  position: relative;
  overflow: hidden;
  box-shadow: inset 4px 0 4px #ffffff4d, inset -4px 0 4px #ffffff4d, inset 1px 0 1px #fff9, inset -1px 0 1px #fff9;
}

.fill-0570__wrap {
  border-radius: 50px;
  margin: 7px;
  position: absolute;
  inset: 0%;
  overflow: hidden;
  transform: translate(0);
}

.fill-0570__fill {
  background-image: linear-gradient(to right, #ffffff6e 22%, #ffffff03 40%, #ffffffb3 70%), linear-gradient(to right, #0000001a 25%, #ffffff03 50%), repeating-linear-gradient(135deg, #fafafa, #fafafa 3%, #ff001e 3% 7%);
  flex: 1;
  width: 102%;
  height: 212%;
  position: absolute;
  top: -1%;
  bottom: 0%;
  right: 0%;
}

.fill-0570__shad {
  border-radius: 50px;
  position: absolute;
  inset: 0%;
  box-shadow: inset -2px 0 6px #ffffffa3, inset 2px 0 6px #fff;
}

.fill-0570__label {
  text-shadow: 0 0 5px #ffffff80;
  padding: 80px 18px;
  position: relative;
}

@media screen and (max-width: 240px) {
  .tadafy__fill-0570 {
    transform: scale(.7);
  }
}
