body {
  background-color: #0000;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 -50%;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.btn__ico-0075 {
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  flex: none;
  justify-content: center;
  align-self: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.ico-0075__wrap {
  justify-content: center;
  align-items: center;
  display: flex;
}

.ico-0075__fill {
  background-color: #2a3239;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: 0%;
}

.ico-0075__line {
  background-color: #2a3239;
  width: 40px;
  height: 2px;
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: -20px;
}

.ico-0075__arrow {
  backface-visibility: hidden;
  flex: none;
  width: 12px;
  height: 12px;
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  transform: rotate(45deg);
}

.ico-0075__arr--t {
  background-color: #2a3239;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: 0%;
}

.ico-0075__arr--b {
  background-color: #2a3239;
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: 0%;
}

.ico-0075__label {
  padding: 58px 26px;
  position: relative;
}

@media screen and (max-width: 240px) {
  .btn__ico-0075 {
    transform: scale(.7);
  }
}