body {
  background-color: #0000;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.tadafy__fill-0825 {
  color: #fff;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  flex-direction: row;
  flex: none;
  justify-content: flex-end;
  align-self: center;
  align-items: center;
  font-family: Inconsolata, monospace;
  font-size: 16px;
  font-weight: 200;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.fill-0825__wrap {
  flex: none;
  position: absolute;
  inset: 0%;
  overflow: hidden;
  transform: translate(0);
}

.fill-0825__fill--1 {
  opacity: .5;
  background-color: #5642fa;
  height: 50%;
  position: absolute;
  bottom: 0%;
  left: -1%;
  right: -1%;
}

.fill-0825__fill--2 {
  opacity: .5;
  background-color: #5642fa;
  height: 50%;
  position: absolute;
  top: 0%;
  left: -1%;
  right: -1%;
}

.fill-0825__label {
  margin-right: -2px;
  padding: 10px 30px;
  position: relative;
}
