body {
  background-color: #0000;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 -50%;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.btn__ico-0085 {
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  flex: none;
  justify-content: center;
  align-self: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.ico-0085__wrap {
  justify-content: center;
  align-items: center;
  display: flex;
}

.ico-0085__icon {
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  transform: translate(-100%);
}

.ico-0085__fill {
  background-color: #00e66d;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
}

.ico-0085__label {
  padding: 20px 25px;
  position: relative;
}

@media screen and (max-width: 240px) {
  .btn__ico-0085 {
    transform: scale(.7);
  }
}