.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 12px;
  height: 12px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

body {
  background-color: #0000;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 -50%;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.btn__tgl-0005-0__checkboxwrap {
  width: 67em;
  height: 40em;
  margin-bottom: 0;
  padding-left: 0;
  font-size: .1em;
  line-height: 1;
  display: block;
  position: relative;
}

.tgl-0005-0__checkbox {
  z-index: 3;
  opacity: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  margin-top: 0;
  margin-left: 0;
  display: block;
  position: absolute;
  inset: 0%;
}

.tgl-0005-0__checkbox.w--redirected-checked {
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto;
  width: 100%;
  height: 100%;
  margin-top: 0;
  margin-left: 0;
}

.tgl-0005-0__checkbox-label {
  z-index: 2;
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  display: none;
  position: absolute;
  inset: 0%;
}

.tgl-0005-0__custom {
  z-index: 2;
  background-color: #fff;
  border: 3em solid #eeeeee8c;
  border-radius: 50em;
  align-items: center;
  width: auto;
  height: auto;
  text-decoration: none;
  display: flex;
  position: absolute;
  inset: 0%;
  overflow: hidden;
  box-shadow: inset 0 2px 6em 0 #0000004d;
}

.tgl-0005-0__switch {
  z-index: 1;
  background-color: #ff4500;
  border: 1em solid #310d0042;
  border-radius: 50%;
  width: 28em;
  height: 28em;
  margin-left: 3em;
  position: absolute;
  top: 3em;
  box-shadow: 0 0 6em 0 #00000073, inset 0 -2px 1em 0 #c23400, inset 0 2px 1em 0 #ffaf92;
}

.tgl-0005-0__fill {
  opacity: 0;
  background-color: #ff4500f7;
  border-radius: 80em;
  position: absolute;
  inset: 0%;
  box-shadow: inset 0 2px 6em 0 #3333337a;
}

.tgl-0005-0__icon--on {
  filter: invert();
  width: 32em;
  position: relative;
  left: 1em;
}

.tgl-0005-0__icon--off {
  opacity: .1;
  width: 32em;
  position: absolute;
  right: 1em;
}
