body {
  background-color: #0000;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 -50%;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.tadafy__fill-0840 {
  color: #fff;
  text-align: center;
  letter-spacing: 6px;
  text-transform: uppercase;
  flex-direction: row;
  flex: none;
  justify-content: flex-end;
  align-self: center;
  align-items: center;
  font-family: Exo, sans-serif;
  font-size: 16px;
  font-weight: 200;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.fill-0840__wrap {
  background-color: #fff;
  border-radius: 50px;
  flex-direction: column;
  flex: none;
  justify-content: space-between;
  display: flex;
  position: absolute;
  inset: 0%;
  overflow: hidden;
  transform: translate(0);
}

.fill-0840__fill {
  background-color: #001eff;
  flex: 1;
  width: 102%;
  margin-top: -1px;
  margin-bottom: -1px;
  margin-left: -1px;
}

.fill-0840__label {
  margin-right: -2px;
  padding: 15px 50px;
  position: relative;
}

@media screen and (max-width: 240px) {
  .tadafy__fill-0840 {
    transform: scale(.7);
  }
}
