body {
  background-color: transparent;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 -50%;
  display: flex;
  overflow: hidden;
}

.btn__und-0080 {
  color: #2a3239;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  flex: none;
  align-self: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.und-0080__top {
  height: 50%;
  position: absolute;
  inset: 0% 0% auto;
}

.und-0080__top--line {
  background-color: #47ff8a;
  width: 100%;
  height: 2px;
}

.und-0080__label {
  z-index: 1;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
}

.und-0080__bott {
  height: 50%;
  position: absolute;
  inset: auto 0% 0%;
}

.und-0080__bott--line {
  background-color: #47ff8a;
  width: 100%;
  height: 2px;
  position: absolute;
  inset: auto 0% 0%;
}

@media screen and (max-width: 240px) {
  .btn__und-0080 {
    transform: scale(.7);
  }
}