body {
  background-color: #0000;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 -50%;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.btn__fill-0025 {
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  background-image: linear-gradient(130deg, #ff4500, #ff00b8 75%);
  border-radius: 50px;
  flex: none;
  align-self: center;
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: 900;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
}

.btn__fill-0025:hover {
  background-image: linear-gradient(130deg, #ff00b8 10%, #5c2fda);
}

.fill-0025__label {
  padding: 10px 65px;
}

@media screen and (max-width: 240px) {
  .btn__fill-0025 {
    transform: scale(.7);
  }
}