body {
  background-color: #0000;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 -50%;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.tadafy__fill-0805 {
  color: #fff;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  flex-direction: row;
  flex: none;
  justify-content: flex-end;
  align-self: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.fill-0805__wrap {
  border-radius: 50px;
  flex: none;
  position: absolute;
  inset: 0%;
  overflow: hidden;
}

.fill-0805__fill--1 {
  background-color: #ff4848;
  height: 50%;
  position: absolute;
  bottom: 0%;
  left: -1%;
  right: -1%;
}

.fill-0805__fill--2 {
  mix-blend-mode: multiply;
  background-color: #485dff;
  height: 50%;
  position: absolute;
  top: 0%;
  left: -1%;
  right: -1%;
}

.fill-0805__label {
  margin-right: -2px;
  padding: 15px 50px;
  position: relative;
}

@media screen and (max-width: 240px) {
  .tadafy__fill-0805 {
    transform: scale(.7);
  }
}
