body {
  background-color: #0000;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 -50%;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.tadafy__ico-0470 {
  color: #000;
  text-align: center;
  letter-spacing: .5px;
  text-transform: uppercase;
  background-color: #00e691;
  border-radius: 50px;
  flex: none;
  justify-content: center;
  align-self: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.2;
  text-decoration: none;
  transition: all .2s;
  display: inline-block;
  position: relative;
}

.tadafy__ico-0470:hover {
  background-color: #00f299;
}

.ico-0470__label {
  padding: 13px 65px;
  position: relative;
}

.ico-0470__ico-w {
  z-index: 5;
  background-color: #00e691;
  border: 1.5px solid #fff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 21px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: 10px;
  box-shadow: 0 0 15px #00000059;
}

.ico-0470__ico {
  width: 8px;
  position: relative;
  top: 1px;
}

@media screen and (max-width: 479px) {
  .tadafy__ico-0470 {
    transform: scale(.7);
  }
}


