body {
  background-color: #0000;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 -50%;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.tadafy__ico-0430 {
  color: #33333380;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 2px solid #2a32391a;
  border-radius: 10px;
  flex: none;
  justify-content: center;
  align-self: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.2;
  text-decoration: none;
  transition: all .15s;
  display: inline-block;
  position: relative;
}

.tadafy__ico-0430:hover {
  border-color: #00c81e;
}

.ico-0430__label {
  padding: 25px;
  position: relative;
}

.ico-0430__ico-w {
  z-index: 5;
  background-color: #00c81e;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: absolute;
  top: -9px;
  left: 0;
  right: 0;
}

.ico-0430__ico {
  width: 7px;
  position: relative;
}

@media screen and (max-width: 240px) {
  .tadafy__ico-0430 {
    transform: scale(.7);
  }
}


