body {
  background-color: #0000;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 -50%;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.tadafy__txt-0420 {
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 5px solid #fff;
  border-radius: 15px;
  flex: none;
  align-self: center;
  font-family: Montserrat, sans-serif;
  font-size: 32px;
  font-weight: 900;
  line-height: 1;
  text-decoration: none;
  transition: all .5s;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.tadafy__txt-0420:hover {
  border-color: #ff001e;
}

.txt-0420__label-w-2nd {
  color: #ff001e;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  inset: 0%;
}

.txt-0420__label {
  padding: 12px 29px;
  position: relative;
}

.txt-0420__label-w {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

@media screen and (max-width: 240px) {
  .tadafy__txt-0420 {
    transform: scale(.7);
  }
}

