body {
  background-color: #0000;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 -50%;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.tadafy__fill-0600 {
  color: #000;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  flex-direction: row;
  flex: none;
  justify-content: flex-end;
  align-self: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 800;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  position: relative;
  transform: translate(0);
}

.fill-0600__wrap {
  background-color: #000;
  position: absolute;
  inset: 0%;
  overflow: hidden;
}

.fill-0600__grad {
  background-image: repeating-linear-gradient(135deg, #ffffff03, #ffffff03 3%, #ff5331 3% 5%);
  flex: 1;
  width: 285%;
  height: 102%;
  position: absolute;
  top: -1%;
  bottom: 0%;
  right: -1%;
  transform: translate(0);
}

.fill-0600__fill {
  background-color: #ff5331;
  margin-top: 8px;
  margin-bottom: 8px;
  position: absolute;
  inset: 0%;
}

.fill-0600__label {
  text-shadow: none;
  padding: 35px;
  position: relative;
}
