body {
  background-color: #0000;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 -50%;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.tadafy__und-0160 {
  color: #333;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  flex: none;
  align-self: center;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.und-0160__line {
  background-color: #ff2b00;
  width: 101%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.und-0160__label {
  padding-bottom: 4px;
}

@media screen and (max-width: 240px) {
  .tadafy__und-0160 {
    transform: scale(.7);
  }
}