body {
  background-color: #0000;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 -50%;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.btn__sha-0080 {
  color: #fff;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  flex: none;
  justify-content: center;
  align-self: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.sha-0080__wrap {
  justify-content: center;
  align-items: center;
}

.sha-0080__fade {
  opacity: .45;
  background-image: linear-gradient(270deg, #ff00d5, #fff0 75%);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  margin-right: -25px;
  position: absolute;
  inset: 0;
}

.sha-0080__fade.lev-02 {
  opacity: .45;
  margin-right: -15px;
}

.sha-0080__fade.lev-02.lev-03 {
  opacity: .4;
  margin-right: -9px;
  display: block;
}

.sha-0080__fill {
  background-color: #ff00d599;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0%;
}

.sha-0080__label {
  padding: 6px 60px;
  position: relative;
}
