body {
  background-color: #0000;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 -50%;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.tadafy__mrp-0530 {
  color: #2a3239;
  text-align: center;
  letter-spacing: -1px;
  text-transform: uppercase;
  flex-direction: row;
  flex: none;
  justify-content: flex-end;
  align-self: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  position: relative;
  transform: translate(0);
}

.mrp-0530__wrap {
  flex: none;
  position: absolute;
  inset: 0%;
}

.mrp-0530__fill--1 {
  transform-origin: 0 0;
  background-color: #e25aba;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-right: -1px;
  position: absolute;
  inset: 0% 50% 0% 0%;
  transform: skew(0deg, 8deg);
}

.mrp-0530__fill--2 {
  transform-origin: 100% 0;
  background-color: #e25abacc;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  inset: 0% 0% 0% 50%;
  transform: skew(0deg, 8deg);
}

.mrp-0530__label {
  padding: 25px 49px;
  position: relative;
}

@media screen and (max-width: 240px) {
  .tadafy__mrp-0530 {
    transform: scale(.7);
  }
}
