body {
  background-color: #0000;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 -50%;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.tadafy__fill-0675 {
  color: #333;
  text-align: center;
  letter-spacing: 0;
  text-transform: uppercase;
  flex-direction: row;
  flex: none;
  justify-content: flex-end;
  align-self: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-size: 28px;
  font-weight: 900;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  position: relative;
  transform: translate(0);
}

.fill-0675__wrap {
  position: absolute;
  inset: 0%;
}

.fill-0675__segm {
  height: 50%;
  margin-bottom: .5px;
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
  transform: skew(20deg);
}

.fill-0675__segm.wrap--b {
  top: auto;
  bottom: 0%;
  transform: skew(-20deg);
}

.fill-0675__grad {
  background-image: repeating-linear-gradient(to right, #ffffff03, #ffffff03 5%, #c0a873 5% 10%);
  flex: 1;
  width: 221%;
  height: 100%;
  position: absolute;
  top: 0%;
  right: 0%;
  transform: translate(0);
}

.fill-0675__grad.grad--b {
  opacity: .66;
  transform-style: preserve-3d;
  top: auto;
  bottom: 0;
  transform: rotateX(180deg)rotateY(0)rotateZ(0);
}

.fill-0675__label {
  text-shadow: none;
  padding: 25px 40px;
  position: relative;
}
