body {
  background-color: #0000;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 -50%;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.tadafy__txt-0435 {
  color: #000;
  text-align: center;
  letter-spacing: 1px;
  text-transform: none;
  border-bottom: 1px solid #000;
  flex: none;
  align-self: center;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
  text-decoration: none;
  transition: all .2s;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.tadafy__txt-0435:hover {
  border-bottom-width: 5px;
}

.txt-0435__label-w-2nd {
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  inset: 0%;
}

.txt-0435__label-2 {
  font-weight: 800;
}

.txt-0435__label-w {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  inset: 0%;
}

.txt-0435__label {
  padding: 9px 10px;
}

@media screen and (max-width: 240px) {
  .tadafy__txt-0435 {
    transform: scale(.7);
  }
}

