body {
  background-color: #0000;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.tadafy__fill-0830 {
  color: #000;
  text-align: center;
  letter-spacing: -5px;
  text-transform: uppercase;
  flex-direction: row;
  flex: none;
  justify-content: flex-end;
  align-self: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-size: 39px;
  font-weight: 900;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.fill-0830__wrap {
  border-radius: 49%;
  flex-direction: column;
  flex: none;
  justify-content: space-between;
  display: flex;
  position: absolute;
  inset: 0%;
  overflow: hidden;
  transform: translate(0);
}

.fill-0830__fill {
  background-color: #fff;
  flex: 1;
  width: 102%;
  margin-top: -1px;
  margin-bottom: -1px;
  margin-left: -1px;
}

.fill-0830__label {
  padding: 45px 60px;
  position: relative;
}
