body {
  background-color: #0000;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 -50%;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.btn__mnu-0070 {
  color: #2a3239;
  text-align: center;
  flex: none;
  align-self: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.mnu-0070__set-out-size {
  background-color: #fff0;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 200px;
  display: flex;
  position: relative;
}

.mnu-0070__set-in-size {
  width: 153px;
  height: 132px;
  position: relative;
}

.mnu-0070__top {
  height: 50%;
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
}

.mnu-0070__top-bar {
  background-color: #ff4848;
  width: 100%;
  height: 2px;
  position: relative;
  transform: translate(0, -50%);
}

.mnu-0070__cent-bar {
  background-color: #ff4848;
  width: 100%;
  height: 2px;
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
  inset: 0%;
}

.mnu-0070__bott {
  height: 50%;
  position: absolute;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.mnu-0070__bott-bar {
  background-color: #ff4848;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0%;
  left: 0%;
  right: 0%;
  transform: translate(0, 50%);
}
