body {
  background-color: #0000;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.tadafy__fill-0635 {
  color: #ff4848;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  flex-direction: row;
  flex: none;
  justify-content: flex-end;
  align-self: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  position: relative;
  transform: translate(0);
}

.fill-0635__wrap {
  border-radius: 50px;
  position: absolute;
  inset: 0%;
  overflow: hidden;
}

.fill-0635__grad {
  background-image: repeating-linear-gradient(225deg, #ffffff03, #ffffff03 2%, #000 2% 5%);
  flex: 1;
  width: 500%;
  height: 50%;
  position: absolute;
  top: 0%;
  right: 0%;
  transform: translate(0);
}

.fill-0635__grad.grad--b {
  transform-style: preserve-3d;
  top: auto;
  bottom: 0;
  transform: rotateX(180deg)rotateY(0)rotateZ(0);
}

.fill-0635__label {
  text-shadow: none;
  padding: 19px 35px;
  position: relative;
}
