body {
  background-color: #0000;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 -50%;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.mnu-0090__bott-bar {
  background-color: #2a3239;
  width: 100%;
  height: 6px;
  position: absolute;
  bottom: 0%;
  left: 0%;
  right: 0%;
  transform: translate(0, 50%);
}

.mnu-0090__set-out-size {
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 100px;
  display: flex;
  position: relative;
}

.mnu-0090__ico-w {
  position: absolute;
  inset: 0%;
  overflow: hidden;
}

.mnu-0090__ico-w2 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  inset: 0%;
}

.mnu-0090__cent-bar {
  background-color: #2a3239;
  width: 100%;
  height: 6px;
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
  inset: 0%;
}

.mnu-0090__top-bar {
  background-color: #2a3239;
  width: 100%;
  height: 6px;
  position: relative;
  transform: translate(0, -50%);
}

.mnu-0090__fill {
  background-color: #2a3239;
  height: 0%;
  position: absolute;
  inset: 0%;
}

.mnu-0090__set-in-size {
  width: 32px;
  height: 70px;
  position: relative;
}

.tadafy__mnu-0090 {
  color: #2a3239;
  text-align: center;
  flex: none;
  align-self: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.mnu-0090__ico {
  width: 31px;
}

.mnu-0090__top {
  height: 50%;
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
}

.mnu-0090__bott {
  height: 50%;
  position: absolute;
  bottom: 0%;
  left: 0%;
  right: 0%;
}
