body {
  background-color: transparent;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 -50%;
  display: flex;
  overflow: hidden;
}

.btn__und-0150 {
  color: #333;
  text-align: center;
  letter-spacing: 7px;
  text-transform: uppercase;
  flex: none;
  justify-content: center;
  align-self: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 900;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.und-0150__line {
  background-color: #2a3239;
  width: 0%;
  height: 1px;
  position: absolute;
  inset: 0% 0% auto auto;
}

.und-0150__line.line--bott {
  inset: auto 0% 0% auto;
}

.und-0150__label {
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}
