body {
  background-color: #0000;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 -50%;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.btn__txt-0015 {
  color: #2a3239;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  flex: none;
  align-self: center;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.txt-0015__label-w {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.txt-0015__label {
  color: #fff;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.txt-0015__label._2nd {
  color: #00e66d;
}

.txt-0015__label-w-2nd {
  color: #2bc78a;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  inset: 0%;
}

@media screen and (max-width: 240px) {
  .btn__txt-0015 {
    transform: scale(.7);
  }
}