body {
  background-color: #0000;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 -50%;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.tadafy__txt-0230 {
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  flex: none;
  align-self: center;
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: Changa One, Impact, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.txt-0230__wrap {
  background-color: #5526f2;
  border-top: 1px solid #5526f2;
  border-bottom: 1px solid #5526f2;
  flex: none;
  align-self: center;
  position: relative;
  overflow: hidden;
}

.txt-0230__label-w {
  transform-origin: 100% 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.txt-0230__label {
  padding: 0 50px;
  position: relative;
}

.txt-0230__label-w-2nd {
  transform-origin: 0 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  inset: 0%;
}

@media screen and (max-width: 240px) {
  .tadafy__txt-0230 {
    transform: scale(.7);
  }
}

