body {
  background-color: #0000;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 -50%;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.tadafy__txt-0345 {
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  text-transform: none;
  border-left: 6px solid #ff001e;
  flex: none;
  align-self: center;
  font-family: Inconsolata, monospace;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.txt-0345__label-w-2nd {
  transform-origin: 0%;
  color: #ff001e;
  background-color: #000;
  border-left: 10px solid #fafafa;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.txt-0345__label {
  padding: 8px 20px 8px 15px;
  display: flex;
  position: relative;
}

.txt-0345__label-w {
  transform-origin: 0%;
  color: #000;
  background-color: #ff001e;
  border-left: 10px solid #fafafa;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  inset: 0%;
}

@media screen and (max-width: 240px) {
  .tadafy__txt-0345 {
    transform: scale(.7);
  }
}

