.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 12px;
  height: 12px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

body {
  background-color: #0000;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 -50%;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.btn__tgl-0010-0__checkboxwrap {
  width: 75em;
  height: 40em;
  margin-bottom: 0;
  padding-left: 0;
  font-size: .1em;
  line-height: 1;
  display: block;
  position: relative;
}

.tgl-0010-0__checkbox {
  z-index: 3;
  opacity: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  margin-top: 0;
  margin-left: 0;
  display: block;
  position: absolute;
  inset: 0%;
}

.tgl-0010-0__checkbox.w--redirected-checked {
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto;
  width: 100%;
  height: 100%;
  margin-top: 0;
  margin-left: 0;
}

.tgl-0010-0__checkbox-label {
  z-index: 2;
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  display: none;
  position: absolute;
  inset: 0%;
}

.tgl-0010-0__custom {
  z-index: 2;
  color: #fff;
  background-color: #ff4500;
  border-radius: 50em;
  justify-content: flex-end;
  width: auto;
  height: auto;
  padding-top: 5em;
  padding-left: 6em;
  padding-right: 6em;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  display: block;
  position: absolute;
  inset: 0%;
  overflow: hidden;
}

.tgl-0010-0__on {
  justify-content: center;
  align-items: center;
  width: 55%;
  font-size: 12em;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
}

.tgl-0010-0__off {
  justify-content: center;
  align-items: center;
  width: 55%;
  font-size: 12em;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: 0%;
}

.tgl-0010-0__switch {
  z-index: 20;
  background-color: #fff;
  border-radius: 50%;
  width: 30em;
  height: 30em;
  position: relative;
}
