body {
  background-color: #0000;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 -50%;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.btn__3d-0045 {
  perspective: 800px;
  color: #fff;
  text-align: center;
  letter-spacing: 4px;
  text-transform: none;
  flex: none;
  justify-content: center;
  align-self: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  text-decoration: none;
  display: inline-block;
  position: relative;
  transform: translate(0);
}

._3d-0045__wrap {
  transform-origin: 50% 0;
  background-color: #859bad;
  background-image: linear-gradient(135deg, #ffffff03, #ffffffa8);
  justify-content: center;
  align-items: center;
  display: inline-block;
  position: relative;
}

._3d-0045__label {
  padding: 16px 46px;
  position: relative;
}

._3d-0045__bott {
  transform-origin: 50% 0;
  transform-style: preserve-3d;
  background-color: #859bad;
  background-image: linear-gradient(135deg, #ffffff03, #ffffffa8);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 100%;
  transform: rotateX(-90deg)rotateY(0)rotateZ(0);
}

._3d-0045__icon {
  filter: invert();
  width: 30px;
  position: relative;
  top: -1px;
}

@media screen and (max-width: 240px) {
  .btn__3d-0045 {
    transform: scale(.7);
  }
}