body {
  background-color: #0000;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 -50%;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.btn__fill-0105 {
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 50px;
  flex: none;
  justify-content: center;
  align-self: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.fill-0105__fill {
  background-color: #000;
  border-radius: 50px;
  position: absolute;
  inset: 0%;
}

.fill-0105__label {
  padding: 15px 45px;
  position: relative;
}

@media screen and (max-width: 240px) {
  .btn__fill-0105 {
    transform: scale(.7);
  }
}