body {
  background-color: #0000;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 -50%;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.tadafy__ico-0305 {
  color: #fafafa;
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
  border-radius: 100px;
  flex: none;
  justify-content: flex-end;
  align-self: center;
  align-items: center;
  font-family: Inconsolata, monospace;
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  position: relative;
  overflow: hidden;
  transform: translate(0);
}

.ico-0305__wrap {
  align-items: center;
  height: 50px;
  display: flex;
}

.ico-0305__fill {
  background-color: #000;
  border-radius: 100px;
  width: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  transform: translate(0);
}

.ico-0305__circ {
  background-color: #000;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: 0%;
  transform: translate(0);
}

.ico-0305__circ-bgr {
  background-color: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -50%;
}

.ico-0305__arrow {
  backface-visibility: hidden;
  border-bottom: 5px solid #fff;
  border-right: 5px solid #fff;
  flex: none;
  width: 21px;
  height: 21px;
  margin: auto;
  position: absolute;
  inset: 0% 0% 0% -5px;
  transform: rotate(-45deg);
}

.ico-0305__line {
  transform-origin: 100% 100%;
  background-color: #fff;
  width: 5px;
  height: 300%;
  position: absolute;
  inset: auto -3px 1px auto;
  transform: rotate(-45deg);
}

.ico-0305__label {
  flex: 1;
  padding: 5px 65px;
  position: relative;
}

@media screen and (max-width: 240px) {
  .tadafy__ico-0305 {
    transform: scale(.7);
  }
}
