body {
  background-color: #0000;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 -50%;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.tadafy__und-0500 {
  color: #000;
  text-align: center;
  letter-spacing: 3px;
  flex-direction: row;
  flex: none;
  justify-content: flex-end;
  align-self: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 28px;
  font-weight: 300;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.und-0500__wrap {
  flex: none;
  height: 4px;
  position: absolute;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.und-0500__line--1 {
  background-color: #000;
  width: 52%;
  height: 50%;
  position: absolute;
  bottom: 0%;
  right: 50%;
}

.und-0500__line--2 {
  background-color: #000;
  width: 52%;
  height: 50%;
  position: absolute;
  top: 0%;
  left: 50%;
}

.und-0500__label {
  margin-right: -2px;
  padding-bottom: 25px;
  padding-left: 35px;
  padding-right: 35px;
  position: relative;
}

@media screen and (max-width: 240px) {
  .tadafy__und-0500 {
    transform: scale(.7);
  }
}