body {
  background-color: #0000;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 -50%;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.tadafy__und-0300 {
  color: #000;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  flex-direction: row;
  flex: none;
  justify-content: flex-end;
  align-self: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-size: 21px;
  font-weight: 800;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.und-0300__wrap {
  flex: none;
  position: absolute;
  inset: 0%;
}

.und-0300__line--1 {
  border-bottom: 1px solid #000;
  width: 100%;
  margin-top: 6px;
  position: absolute;
  inset: 0;
}

.und-0300__line--2 {
  border-bottom: 1px solid #000;
  width: 100%;
  margin-bottom: 6px;
  position: absolute;
  inset: 0;
}

.und-0300__label {
  padding-bottom: 17px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
}

@media screen and (max-width: 240px) {
  .tadafy__und-0300 {
    transform: scale(.7);
  }
}