body {
  background-color: #0000;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 -50%;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.tadafy__und-0435 {
  color: #2a3239;
  text-align: center;
  letter-spacing: 6px;
  text-transform: uppercase;
  flex-direction: row;
  flex: none;
  justify-content: flex-end;
  align-self: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.und-0435__wrap {
  flex: none;
  height: 5px;
  position: absolute;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.und-0435__line--1 {
  background-color: #f40;
  width: 70%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
}

.und-0435__line--1.col--2 {
  background-color: #ffda07;
}

.und-0435__line--2 {
  background-color: #00c535;
  width: 70%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: 0%;
}

.und-0435__line--2.col--2 {
  background-color: #1877f2;
}

.und-0435__label {
  margin-right: -2px;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
}

@media screen and (max-width: 240px) {
  .tadafy__und-0435 {
    transform: scale(.7);
  }
}