body {
  background-color: #0000;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 -50%;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.btn__ico-0040 {
  color: #000;
  text-align: center;
  letter-spacing: 1px;
  border: 3px solid #000;
  flex: none;
  justify-content: center;
  align-self: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  text-decoration: none;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.ico-0040__frame {
  background-color: #000;
  justify-content: center;
  align-items: center;
  margin: -1px;
  display: flex;
  position: absolute;
  inset: 0%;
}

.ico-0040__icon {
  filter: invert();
  width: 31px;
  position: relative;
  top: -2px;
}

.ico-0040__label {
  padding: 25px 60px;
  position: relative;
}

@media screen and (max-width: 240px) {
  .btn__ico-0040 {
    transform: scale(.7);
  }
}