body {
  background-color: #0000;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 -50%;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.tadafy__fill-0500 {
  color: #fff;
  text-align: center;
  letter-spacing: .4px;
  text-transform: uppercase;
  border-radius: 50px;
  flex-direction: row;
  flex: none;
  justify-content: flex-end;
  align-self: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: none;
  display: inline-block;
  position: relative;
  overflow: hidden;
  transform: translate(0);
}

.fill-0500__fill {
  background-image: repeating-linear-gradient(130deg, #ff6b6a, #ff6b6a 2%, #ff7d7a 2% 4%);
  flex: 1;
  width: 400%;
  height: 102%;
  position: absolute;
  top: -1%;
  bottom: 0%;
  right: 0%;
}

.fill-0500__label {
  padding: 20px 57px;
  position: relative;
}

@media screen and (max-width: 240px) {
  .tadafy__fill-0500 {
    transform: scale(.7);
  }
}
