body {
  background-color: #0000;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 -50%;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.tadafy__fill-0205 {
  color: #2a3239;
  text-align: left;
  letter-spacing: 3px;
  text-transform: uppercase;
  flex: none;
  justify-content: center;
  align-self: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-size: 41px;
  font-weight: 900;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.fill-0205__fill-t {
  backface-visibility: hidden;
  transform-origin: 100% 100%;
  background-color: #ddc285;
  position: absolute;
  inset: 0% 0% 50%;
  transform: translate(-1px)skew(15deg);
}

.fill-0205__fill-b {
  transform-origin: 100% 0;
  background-color: #c0a873;
  position: absolute;
  inset: 50% 0% 0%;
  transform: translate(-1px)skew(-15deg);
}

.fill-0205__label {
  padding: 18px 70px 18px 30px;
  position: relative;
}
