body {
  background-color: #0000;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 -50%;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.tadafy__und-0550 {
  color: #000;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  flex-direction: row;
  flex: none;
  justify-content: flex-end;
  align-self: center;
  align-items: center;
  font-family: Exo, sans-serif;
  font-size: 21px;
  font-weight: 900;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.und-0550__wrap {
  flex-direction: column;
  flex: none;
  justify-content: space-around;
  height: 20px;
  display: flex;
  position: absolute;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.und-0550__line--2 {
  background-color: #000;
  flex: none;
  height: 25%;
  position: relative;
  left: -50%;
}

.und-0550__line--1 {
  background-color: #000;
  flex: none;
  height: 25%;
  position: relative;
  left: 50%;
}

.und-0550__label {
  margin-right: -2px;
  padding-bottom: 34px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

@media screen and (max-width: 240px) {
  .tadafy__und-0550 {
    transform: scale(.7);
  }
}